html { 
    margin: 0; 
    padding: 0; 
}

body { 
    font-family: sans-serif;
    background-color: rgb(58, 160, 228);
}

#court {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    height: 500px;
    border: 0px solid #eee;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    position: relative;
}

#scoreboard{
   font-size: 30;
   text-align: center;
}

#scoreText{
    margin-bottom: 0px;
}

#pointsList{
    display:flex;
    flex-flow:row nowrap;
    list-style-type:none;
    justify-content:space-around;
    font-size:35px;
    padding:0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 200px;
    margin-right:200px
}

#bluePoints{
    color: blue;
    font-weight: bold;
}

#redPoints{
    color: red;
    font-weight: bold;
}


.player {
    height: 40px;
    width: 40px;
    background-color: blue;
    border: 0px solid grey;
    border-radius: 3px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.ball {
    height: 40px;
    width: 40px;
    background-color: black;
    border: 0px solid grey;
    border-radius: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#Winner {
    font-size: 100;
    text-align: center;
    color: Black;
}

#directions{
    text-align: center;
    position: relative;
    font-size: 25;
    width: 800px;
    margin: 0 auto;

}