html { 
    margin: 0; 
    padding: 0; 
}

body { 
    font-family: sans-serif;
    background-color: #11F;
    color: #A11; 
}

#court {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    height: 500px;
    border: 0px solid #eee;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    position: relative;
}

#scoreboard{
   font-size: 50;
}

.player {
    height: 40px;
    width: 40px;
    background-color: blue;
    border: 0px solid grey;
    border-radius: 3px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.ball {
    height: 30px;
    width: 30px;
    background-color: black;
    border: 0px solid grey;
    border-radius: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#Winner {
    font-size: 100;
    text-align: center;
    color: Black;
}