html { 
    margin: 0; 
    padding: 0; 
}

body { 
    font-family: sans-serif;
    background-color: #11F;
    color: #A11; 
}

container {
    width: 1000px;
    height: 500px;
}

player {
    height: 40px;
    width: 40px;
}